<h1>Listing glass_store_links</h1>

<table>
  <thead>
    <tr>
      <th>Glass</th>
      <th>Store</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @glass_store_links.each do |glass_store_link| %>
      <tr>
        <td><%= glass_store_link.glass_id %></td>
        <td><%= glass_store_link.store_id %></td>
        <td><%= glass_store_link.quantity %></td>
        <td><%= link_to 'Show', glass_store_link %></td>
        <td><%= link_to 'Edit', edit_glass_store_link_path(glass_store_link) %></td>
        <td><%= link_to 'Destroy', glass_store_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glass store link', new_glass_store_link_path %>
