<p id="notice"><%= notice %></p>
<h1>Infinity Scope HomePage</h1>
<p>
<%= link_to 'Customers Page', customers_path %>
</p>
<p>
<p>
<%= link_to 'Search for customer', customers_find_customer_path %>
</p>

<%= link_to 'Glass store Page', glasses_path %>
</p>
<p>
<%= link_to 'Empolyees Page', empolyees_path %>
</p>
<p>
<%= link_to 'Branches homepage', stores_path %>
</p>


<p>
<%= link_to 'Today Sales', customers_today_sales_path %>
</p>



