<p id="notice"><%= notice %></p>
<h1> Add new glass for our customer: <%= @customer.name%></h1>

<table>
  <thead>
    <tr>
      <th>Frame Kind</th>
      <th>Frame Material</th>
      <th>Made in</th>
      <th>Model Color</th>
      <th>Unity price</th>
      <th>Glass Kind</th>
      <th></th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
    <% @glasses.each do |glass| %>
      <tr>
        <td><%= glass.frame_kind %></td>
        <td><%= glass.frame_material %></td>
        <td><%= glass.made_in %></td>
        <td><%= glass.available_color %></td>
        <td><%= number_to_currency(glass.unity_price) %></td>
        <td><%= glass.glass_kind %></td>
        <td><%= link_to 'Show', glass %></td>
        <%if false%>
        <td><%= link_to 'Add to shop', :controller=>"glasses", :action=>"addtoshop1" , :id=> glass.id%></td>
        <%elsif false%>
        <td><%= link_to "Add some to shop", :controller => 'glass_store_links', :action => 'new2', :glass_id => glass.id%></td>
        <%else%>
        <td><%= button_to 'Select this Glass', line_items_path(glass_id: glass, customer_id: @customer.id) %></td>
        <td><%#= link_to "elect this glass", :controller => 'LineItems', :action => 'create', :glass_id => glass.id%></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
<%= link_to 'Slect another user', customers_path %>
</p>
<p>
<%= link_to 'Home Page', page_home_path %>
</p>
