<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Delivery Status:</strong>
  <%if @customer.delivered%>
  Yes
  <%else%>
  No
  <%end%>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @customer.delivery_date %>
</p>

<p>
  <strong>Work:</strong>
  <%= @customer.work %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @customer.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @customer.request_date %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @customer.cash %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @customer.paid %>
</p>

<p>
  <strong>Remained:</strong>
  <%= @customer.remained %>
</p>

<p>
  <strong>Lft sp:</strong>
  <%= @customer.lft_sp %>
</p>

<p>
  <strong>Lft cl:</strong>
  <%= @customer.lft_cl %>
</p>

<p>
  <strong>Lft ax:</strong>
  <%= @customer.lft_ax %>
</p>

<p>
  <strong>Rght sp:</strong>
  <%= @customer.rght_sp %>
</p>

<p>
  <strong>Rght cl:</strong>
  <%= @customer.rght_cl %>
</p>

<p>
  <strong>Rght ax:</strong>
  <%= @customer.rght_ax %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @customer.doctor %>
</p>

<p>
  <strong>Req store:</strong>
  <%= @customer.req_store %>
</p>

<p>
  <strong>Deliv store:</strong>
  <%= @customer.deliv_store %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @customer.comment %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
