<p id="notice"><%= notice %></p>

<p>
  <strong>Frame kind:</strong>
  <%= @glass.frame_kind %>
</p>

<p>
  <strong>Frame Material:</strong>
  <%= @glass.frame_material %>
</p>

<p>
  <strong>Made in:</strong>
  <%= @glass.made_in %>
</p>


<p>
	<strong>Model Color</strong>
	<%= @glass.available_color%>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @glass.quantity %>
</p>
<p>
  <strong>Remain in The Store:</strong>
  <%= @glass.remain_in_store %>
</p>

<p>
  <strong>Unity price:</strong>
  <%= @glass.unity_price %>
</p>

<p>
  <strong>Discount rate:</strong>
  <%= @glass.discount_rate %>
</p>

<p>
  <strong>Glass Kind:</strong>
  <%= @glass.glass_kind %>
</p>

<p>
  <strong>Discount rate 2:</strong>
  <%= @glass.discount_rate_2 %>
</p>

<p>
	<strong>Already Sold</strong>
	<%= @glass.sold%>
</p>

<%= link_to 'Edit', edit_glass_path(@glass) %> |
<%= link_to 'Back', glasses_path %>
<%= link_to 'Home Page', page_home_path %>