<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @empolyee.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @empolyee.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @empolyee.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @empolyee.address %>
</p>

<p>
  <strong>National:</strong>
  <%= @empolyee.national_id %>
</p>

<p>
  <strong>Mobile 2:</strong>
  <%= @empolyee.mobile_2 %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @empolyee.birthday %>
</p>

<p>
  <strong>Age:</strong>
  <%= @empolyee.age %>
</p>

<p>
  <strong>Role:</strong>
  <%= @empolyee.role %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @empolyee.salary %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @empolyee.comment %>
</p>

<%= link_to 'Edit', edit_empolyee_path(@empolyee) %> |
<%= link_to 'Back', empolyees_path %>
